/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.global {
  background-color: lightcoral;
}

.title {
  color: antiquewhite;
  font-family: Georgia;
}

.pls-prs-ply, .qstn-nmbr, t {
  color: antiquewhite;
  font-family: Georgia;
}

.qstn-tx {

}

.choices {

}