/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.global {
  background-color: lightcoral;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.title {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.pls-prs-ply {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.qstn-nmbr {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.rspns {
  color: antiquewhite;
  font-family: Georgia;
  text-align: ;
}

.fnl-scr {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.qstn-txt {
text-align: center;
}

.choices {
text-align: center;
}

.score {
  text-align: center;
}

/** Buttons*/

.play-btn {

}

.answr-btn {

}

.advnc-btn {

}

.rstrt-btn {

}