/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.global {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.title {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}


.pls-prs-ply {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
  margin-bottom: 20px;
}

.qstn-nmbr {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.rspns {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.fnl-scr {
  color: antiquewhite;
  font-family: Georgia;
  text-align: center;
}

.qstn-txt {
text-align: center;
margin-left: 10px;
margin-right: 10px;
}

.answr-btn-cntnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.answrs-cntnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.advnc-cntnr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.score {
  text-align: center;
  font-size: 1.25em;
}

/** Buttons*/

.play-btn {
width: 14%;
margin-left: 43%;
margin-right: 43%;
}

.answr-btn {
}

.advnc-btn {

}

.rstrt-btn {
width: 14%;
margin-left: 43%;
margin-right: 43%;
}


